 .main-pg{
    background-color: #fff;
     min-height: 1000px; 
}

 .wraper {
    max-width: 2000px;  
	width: 100%;
	margin: 40px auto; 
} 

.list-group {
   display: grid;  
   grid-template-columns: auto auto;
     column-gap: 10%;
     width: 100%;    
 } 

   .popular-list {
height: 76vh;
width: 100%; 
border: 1px solid #161515;
 }  

 .top-rated-list {
   height: 76vh;
   width: 100%;
   border: 1px solid #161515;
 }

  @media (max-width: 812px) {
  
   .list-group {
     display: block
   }
     
   .top-rated-list {
     margin-top: 40px;
   } 
  }
  
 /* Portrait cel */

 @media (min-width: 320px) and (max-width: 480px) {

  .popular-list, .top-rated-list {
    height: 78vh;
}

  .wraper {
    margin: 43px auto;
}
 }






