 .navbar {
     background-color: #001529;
     height: 97px;
} 

.logo {
    display: flex;
    color: "#1890ff";
    margin-right: 4%;
    margin-left: 4%;
    width: 80px;
}

.navbar-toggler {
    color:rgba(255, 255, 255, 0.65);
}

.nav-item {
    color:rgba(255, 255, 255, 0.65);
    line-height: 10px;
    margin-right: 1rem;
    font-size: 15px;
}

.nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: #1890ff;
}

.nav-item .active {
    background-color: #1890ff;
    border-radius: 5px;
    width: 100%;
    padding: 15px; 
} 