
.header-list {
    width: 100%;
    background-color: #0e1527;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 20px;  
  }

  .scroll{
    height: 65vh;
    overflow: scroll;
  }
 
  .detail-button{
    color:#1890ff;
  }

  .detail-button:hover{
    color:#0d3330;
  }

   .movie-item:hover{
     background-color: #b9bcbe;
  } 

  h4 {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
  }

  .list {
    display: block;
    height: 78vh;
    width: 100%;
  }

   .list-img {
    max-height: 10vh;
     border-radius: 50%; 
    height: 60px;
    width: 60px;
    position: center;
    size: contain;
    object-fit: cover;
  } 

  .movie-title {
    font-size: 15px;
    color: rgb(46, 45, 46);
  }

  .list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-chevron-btn {
    border-radius: 50%;
  }

  .error-alert {
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  