.details-container {
    min-height: calc(100vh - 97px - 54px);
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #3c3c3c;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); 
}

 .movie-info-header {
    color: white;
}  

.movie-background {
    position: absolute;
    z-index: -1;
    height: 100vh;
     width: 100%; 
    object-fit: cover;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 131%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.movie-poster {
     margin: 60px 0px; 
    filter: brightness(100%);
}

.relase_date-rated-star {
    font-size: 50px;
}

.star {
    font-size: 30px;
    text-shadow: 0 0 3px rgb(252, 246, 246);
}

.overview {
    font-size: 18px;
}

.gerne-list {
    font-size: 16px;
}

 /* Portrait cel */

 @media (min-width: 320px) and (max-width: 576px) {
  
  .movie-poster {
    width: 75%;
    margin: 50px 55px;
    padding: 0px;
}  
 
  .details-container {
      display: block;
      width: 100%;
      justify-content: center;
      align-items: center;
  }

  .movie-info-header h2 {
    text-align: center;
}

.star {
    font-size: 20px;
    text-shadow: 0 0 3px rgb(252, 246, 246);
    text-align: center;
}
.overview {
    font-size: 15px; 
}

.gerne-list {
    font-size: 15px;
    text-align: center;
}

.movie-info-header {
    text-align: center;
}

.trailer {
    padding-right: 20px;
}

}

/* Landscape cel */

  @media (min-width: 576px) and (max-width: 1050px){ 

     .movie-info-poster {
        display: flex;
        justify-content: center;
    } 

    .trailer {
        width: 450px;
        height: 230px;
    }
 }  




