.details-container {
    min-height: calc(100vh - 97px - 54px);
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #3c3c3c;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    /* object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); 
    /* background-color: royalblue;    */
}

/* .row {
    height: 100vh;
    display: flex;
    align-items: center;
} */


 .movie-info-header {
    /* display: block; */
    color: white;
}  

/* .movie-info-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
} */

.movie-background {
    position: absolute;
    z-index: -1;
    height: 100vh;
     width: 100%; 
    object-fit: cover;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 131%;
}

.movie-poster {
    margin: 60px 20px;
}

/* .movie-trailer {
    width: 50vw;
    height: 30vh;
} */

.relase_date-rated-star {
    font-size: 50px;
}

.star {
    font-size: 30px;
    text-shadow: 0 0 3px rgb(252, 246, 246);
}

.overview {
    font-size: 18px;
}

.gerne-list {
    font-size: 20px;
}

.movie-info-header h2 {
    text-align: left;
}

.movie-info-poster {
    padding-left: 150px;
}

 /* Portrait cel */

 @media (min-width: 320px) and (max-width: 576px) {
  
    /* main {
        width: 111%;
    } */

    .layout-header {
        width: 374px;
    }
.movie-poster {
    width: 75%;
    margin: 50px 55px;
    padding: 0px;
}
    .movie-background {
      display: none;
  }

  .details-container {
      display: block;
      width: 100%;
      justify-content: center;
      align-items: center;
     background-color: rgb(78, 78, 80); 
  }

  .layout-header {
    width: 100%;
}

.layout-main {
    width: 100%;
}

  /* .movie-poster {
      justify-content: center;
       width: 90%;
    margin: 5px 12px; 
  } */

  .movie-info-poster {
    padding-left: 0px;
}

.movie-info-header {
    margin-top: -25px;
}
  .movie-info-header h2 {
    text-align: center;
}

/* h3 {
    margin-left: 0px;
} */

.star {
    font-size: 20px;
    text-shadow: 0 0 3px rgb(252, 246, 246);
    text-align: center;
}
.overview {
    font-size: 15px; 
}

.gerne-list {
    font-size: 15px;
    text-align: center;
}

.movie-info-header {
    text-align: center;
}

/* .movie-trailer{  
    padding-right: 11%;
}  */
}

/* Landscape cel */

 @media (min-width: 576px)and (max-width: 1030px){

     main {
        width: 100%;
    } 
      .movie-background {
        display: none;
    }  

    .details-container {
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgb(78, 78, 80); 
    }

    .movie-info-poster {
        padding-left: 10px;
        max-height: 650px;
    }

     .movie-info-header {
        width: 330px;
    }
    
    .movie-info-content {
        margin-left: -22px;
    }

     .movie-poster {
         width: 300px;
         height: 75%; 
         padding: 25px; 
        object-fit: cover;
} 

     .movie-trailer {
         margin-left: -311px;
         margin-top: 55px;
}

} 

