.carousel-caption {
    background-color: #a7a7a7cf;
    opacity: .9;
    font-size: 25px;
}

.slider{
    height:33rem;
    width: 100%;
    object-fit: cover;
    }

.error-alert {
    justify-content: center;
    align-items: center;
    font-size: 40px;
      }