.header-list {
    background-color: #0e1527;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 20px; 
  }
  .main-list{
    background-color: #0e1527;
  }
  .list-table{
    margin-bottom: 4rem;
     margin-right: 4rem;
     margin-left: 4rem;
  }
  .list-img{
      width: 50px;
  }
  .scroll{
    max-height: 50vh;
    overflow-y: auto;
  }
  .movie-name{
    margin-left: 20px;
  }
  .movie-item{
  border-bottom:#eeeeeed5 0.5px solid;
  }
  .detail-button{
  color:#1890ff;
  margin-top: 45px;
  margin-right: 20px;
  padding-right: 8px;
  /* flex-direction: row-reverse; */
  float: right;
  width: 32px;
  height: 32px;
  font-size: 40px;
  }
  .detail-button:hover{
    color:#0d3330;
  }
  .movie-item:hover{
  background-color: #e2eaf3;
  }

  h4 {
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 22px;
  }

  /* .info-list-movies {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
    float: right;
    align-items: center;
  } */
.list-row {
  position: relative;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    zoom: 1;
    display: block;
}

.list-table-col {
  width: 50%;
  flex: 0 0 auto;
    float: left;
}